﻿@{
    ViewData["Title"] = "Home Page";
}
@model User;

<h1>
    @ViewBag.Message
</h1>

<div>
    @using (Html.BeginForm("SaveRegisterDetails", "Home"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Name)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Name, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.SecondName)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.SecondName, new { @class = "form-control" })</div>
        </div><br />
        <input type="submit" value="Register" class="btn btn-primary" />
    }

</div>